<h1>Edit Album Information</h1>

<form class="album" id="edit-album" method="POST" action="/albums/<%= @album.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <label for="album-name">Title:</label>
    <input type="text" name="album[name]" id="album-name" value="<%= @album.name%>">
  </div>

  <div>
    <label for="album-artist">Artist:</label>
    <input type="text" name="album[artist]" id="album-artist" value="<%= @album.artist%>">
  </div>

  <div>
    <label for="album-year">Year:</label>
    <input type="text" name="album[year]" id="album-year" value="<%= @album.year%>">
  </div>

  <div>
    <label for="album-genre">Genre:</label>
    <input type="text" name="album[genre]" id="album-genre" value="<%= @album.genre%>">
  </div>

  <div>
    <label for="album-rating">Rating:</label>
    <input type="text" name="album[rating]" id="album-rating" value="<%= @album.rating%>">
  </div>

  <div>
    <input type="submit" value="Save Album" class="btn">
  </div>
</form>
